body {
  background-color: #011f3f;
  font-family: "Press Start 2P", cursive;
  color: #fef2bf;
}
.rules-title {
  text-align: center;
  
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.rules {
  
  font-size: 0.7rem;
  line-height: 3;
  margin: 5%;
  margin-top: 3%;
  color: #fef2bf;
  float: left;
}

.example {
  margin-left: 10%;
  font-size: 1rem;
  display: inline-block;
}

img {
  height: 170px;
  float: right;
  position: absolute;
  margin-right: 120px;
}

@media (min-width : 300px)
{
  img {
    right: 1px;
  }

  .rules-title {
    font-size: 2.5rem;
  }
}

